[user]
	name = Daniel Jensen
	email = dhjen@outlook.com
	signingkey = 5BD93A02
[rerere]
	enabled = true
[commit]
	gpgsign = true
[status]
	submoduleSummary = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
